@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #BFA89E;
  color: #2e2e2e;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background: url('https://unocasa.com/cdn/shop/articles/types_of_coffee_91a828a5-7ff3-427d-acaa-c8b7289c9e5a_720x.jpg?v=1621261041') center/cover no-repeat;
  color: rgb(225, 225, 225);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 100px 20px;
  
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: rgb(255, 140, 0);
  font-weight: bold;
}

.btn {
  background: #c79c60;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

section {
  text-align: center;
  padding: 50px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250,1fr));
  justify-items: center;
  gap: 30px;
  padding: 40px;
  background-color: #BFA89E;
}

.coffeeCard {
  background-color: #D7BEA8;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  flex-direction: column;
  box-sizing: border-box;
}

.coffeeCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.coffeeCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.coffeeCard p {
  font-size: 0.95rem;
  color: #5c4531;
  flex-grow: 1;
}


.coffeeCard h3 {
  color: #4b2219;
  margin: 12px 0 6px;
  font-size: 1.3rem;
}

.coffeeCard button {
  background-color: #B49286;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.coffeeCard button:hover {
  background-color: #d9b2a4;
}

.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 22px;
  cursor: pointer;
}